.payments {
    width: 100%;
}

.account {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.account thead {
    width: 100%;
    display: inline-flex;
}

.account thead tr {
    width: 99%;
    background-color: rgba(236, 236, 236, 1);
    border-radius: 5px 5px 0 0;
    display: inline-flex;
    gap: 5px;
}

.account thead th {
    display: inline-block;
    width: 15%;
    padding: 0.5rem;
}

.account thead th:nth-of-type(3) {
    display: inline-block;
    width: 20%;
}

.account thead th:nth-of-type(4) {
    display: inline-block;
    width: 35%;
}

.account tbody tr {
    width: 99%;
    border-bottom: 1px solid grey;
    display: inline-flex;
    align-items: start;
}

.account tbody td {
    display: inline-flex;
    width: 15%;
    border-radius: 5px;
    padding: 0.5rem;
    justify-content: center;
    align-items: baseline;
}

.account tbody td:nth-of-type(3) {
    display: inline-flex;
    width: 20%;
}

.account tbody td:nth-of-type(4) {
    display: inline-flex;
    width: 35%;
}

.account tbody tr:last-of-type {
    border-bottom: none;
}

.customerPayment {
    background-color: rgba(236, 236, 236, 1);
    margin: 1rem 0;
    font-size: 14px;
}

.customerPayment:last-of-type {
    margin-right: 1rem;
}